Repository ssg-240304-java2/shop-404NotFound, pull requests merged in 2024-06, with the labels that each got.

#31 재고관리 도메인 비즈니스로직 적용
  src/main/java/com/nf404/devshop/inventory/InventoryService.java
  src/main/java/com/nf404/devshop/inventory/stock/Stock.java
  src/main/java/com/nf404/devshop/inventory/stock/StockMapper.java
  src/main/java/com/nf404/devshop/inventory/transactions/InventoryTransactionMapper.java
  src/main/java/com/nf404/devshop/inventory/transactions/Task.java
  src/main/java/com/nf404/devshop/inventory/transactions/Transactions.java
  src/main/resources/mappers/inventory/InventoryTransactionMapper.xml
  src/main/resources/mappers/inventory/StockMapper.xml
  src/test/java/com/nf404/devshop/inventory/InventoryServiceTest.java
Labels: 📦 Inventory

#27 [회원 관리] 사용자 정보 CRUD 기능 구현 및 개선 (#2, #4, #5)
  .gitignore
  src/main/java/com/nf404/devshop/user/config/MyBatisConfig.java
  src/main/java/com/nf404/devshop/user/controller/UserController.java
  src/main/java/com/nf404/devshop/user/mapper/UserMapper.java
  src/main/java/com/nf404/devshop/user/model/UserDTO.java
  src/main/java/com/nf404/devshop/user/service/UserService.java
  src/main/java/com/nf404/devshop/user/service/impl/UserServiceImpl.java
  src/main/resources/application.yml
  src/main/resources/mappers/user/UserMapper.xml
  src/main/resources/static/index.html
  src/main/resources/templates/user/edit.html
  src/main/resources/templates/user/list.html
  src/main/resources/templates/user/login.html
  src/main/resources/templates/user/register.html
  src/test/java/com/nf404/devshop/mapper/UserMapperTest.java
Labels: 👤 User

#30 Feat/product crud base: service & dao layer, mapper 구현
  build.gradle
  src/main/java/com/nf404/devshop/global/utility/SaveImageUtil.java
  src/main/java/com/nf404/devshop/product/controller/CategoryController.java
  src/main/java/com/nf404/devshop/product/controller/ProductController.java
  src/main/java/com/nf404/devshop/product/model/domain/Category.java
  src/main/java/com/nf404/devshop/product/model/domain/Image.java
  src/main/java/com/nf404/devshop/product/model/domain/Product.java
  src/main/java/com/nf404/devshop/product/model/dto/CategoryDto.java
  src/main/java/com/nf404/devshop/product/model/dto/ImageDto.java
  src/main/java/com/nf404/devshop/product/model/dto/req/ProductCreateReqDto.java
  src/main/java/com/nf404/devshop/product/model/dto/req/ProductCriteria.java
  src/main/java/com/nf404/devshop/product/model/dto/req/ProductDeleteReqDto.java
  src/main/java/com/nf404/devshop/product/model/dto/req/ProductUpadateReqDto.java
  src/main/java/com/nf404/devshop/product/model/dto/res/ProductReadResDto.java
  src/main/java/com/nf404/devshop/product/repository/CategoryMapper.java
  src/main/java/com/nf404/devshop/product/repository/ImageMapper.java
  src/main/java/com/nf404/devshop/product/repository/ProductMapper.java
  src/main/java/com/nf404/devshop/product/service/CategoryService.java
  src/main/java/com/nf404/devshop/product/service/ProductService.java
  src/main/resources/mappers/product/CategoryMapper.xml
  src/main/resources/mappers/product/ImageMapper.xml
  src/main/resources/mappers/product/ProductMapper.xml
  src/main/resources/static/css/product/product-list.css
  src/main/resources/static/js/product/showCategory.js
  src/main/resources/templates/product/add-product.html
  src/main/resources/templates/product/product-list.html
Labels: 🎁product

#39 게시판 관리 시스템 CRUD 구현
  build.gradle
  setup/schema/board.sql
  src/main/java/com/nf404/devshop/board/mapper/BoardMapper.java
  src/main/java/com/nf404/devshop/board/model/dto/BoardRequest.java
  src/main/java/com/nf404/devshop/board/model/dto/BoardResponse.java
  src/main/java/com/nf404/devshop/board/service/BoardService.java
  src/main/resources/application.yml
  src/main/resources/mappers/board/BoardMapper.xml
  src/test/java/com/nf404/devshop/board/BoardMapperTest.java
  src/test/java/com/nf404/devshop/board/BoardServiceTest.java
Labels: 🧪 testing, 📊 database, 📒 board

#41 feat(user): 회원 등급 변경 기능 추가 및 UI 개선
  src/main/java/com/nf404/devshop/user/controller/UserController.java
  src/main/java/com/nf404/devshop/user/service/UserService.java
  src/main/java/com/nf404/devshop/user/service/impl/UserServiceImpl.java
  src/main/resources/templates/user/list.html
Labels: 🔨 enhancement, 👤 User

#43 [Product crud base] feat, refactor(#14, #15): 상품 업데이트, 수정 기능 구현(미완), 특정 기능 클래스 파일 리팩토링
  src/main/java/com/nf404/devshop/product/controller/ProductController.java
  src/main/java/com/nf404/devshop/product/model/dto/req/ProductDeleteReqDto.java
  src/main/java/com/nf404/devshop/product/model/dto/req/ProductUpdateReqDto.java
  src/main/java/com/nf404/devshop/product/repository/ProductMapper.java
  src/main/java/com/nf404/devshop/product/service/ProductService.java
  src/main/resources/mappers/product/ProductMapper.xml
  src/main/resources/templates/product/product-list.html
  src/main/resources/templates/product/register.html
  src/main/resources/templates/product/update.html
Labels: 🎁product

#44 Feat/order search
  setup/dummy/order_list.sql
  src/main/java/com/nf404/devshop/order/controller/OrderController.java
  src/main/java/com/nf404/devshop/order/controller/UpdateStatusController.java
  src/main/java/com/nf404/devshop/order/model/dao/OrderMapper.java
  src/main/java/com/nf404/devshop/order/model/dao/UpdateStatusMapper.java
  src/main/java/com/nf404/devshop/order/model/service/OrderService.java
  src/main/java/com/nf404/devshop/order/model/service/OrderServiceImpl.java
  src/main/java/com/nf404/devshop/order/model/service/UpdateStatusImpl.java
  src/main/java/com/nf404/devshop/order/model/service/UpdateStatusService.java
  src/main/resources/mappers/orderSearch/OrderMapper.xml
  src/main/resources/mappers/orderSearch/OrderStatusMapper.xml
  src/main/resources/mappers/orderSearch/UpdateStatusMapper.xml
  src/main/resources/templates/order/orderlist.html
  src/main/resources/templates/order/orderstatus.html
  src/main/resources/templates/order/userdetail.html
Labels: ✍️order

#51 게시판 관리 controller, html 추가
  src/main/java/com/nf404/devshop/board/controller/BoardController.java
  src/main/java/com/nf404/devshop/board/model/dto/BoardResponse.java
  src/main/java/com/nf404/devshop/board/service/BoardService.java
  src/main/resources/templates/board/list.html
  src/main/resources/templates/board/view.html
  src/main/resources/templates/board/write.html
Labels: 🔨 enhancement, 📒 board

#58 [Category crud base] : 카테고리 CRUD 기능 개발 완료 & 상품, 재고 스키마 수정
  setup/schema/product_stock.sql
  src/main/java/com/nf404/devshop/global/exception/GlobalExceptionHandler.java
  src/main/java/com/nf404/devshop/product/controller/CategoryController.java
  src/main/java/com/nf404/devshop/product/controller/ProductController.java
  src/main/java/com/nf404/devshop/product/repository/CategoryMapper.java
  src/main/java/com/nf404/devshop/product/repository/ProductMapper.java
  src/main/java/com/nf404/devshop/product/service/CategoryService.java
  src/main/java/com/nf404/devshop/product/service/ProductService.java
  src/main/resources/mappers/product/CategoryMapper.xml
  src/main/resources/mappers/product/ProductMapper.xml
  src/main/resources/static/js/product/showCategory.js
  src/main/resources/templates/product/category.html
Labels: 📚 documentation, 🔨 enhancement, 🎁product

#62 Update README.md
  README.md
Labels: 📚 documentation
